@import url("print.css") print;
@import url("reset.css");
@import url("ie.css");

body {background:#f3edec url(../img/pattern3.png) repeat}


#site {
 background: url(../img/topo.png) 0 -30px no-repeat;
 padding:110px 0 30px 0;
}

#content {
	background: url(../img/bright_squares2.png) repeat;
    box-shadow: 0 3px 20px rgba(50, 50, 50, 0.5);
    clear: both;
    height: auto;
    z-index: 888888;
	margin: 0 auto;
	width:800px;
	padding-bottom:30px;
	
}

#nomes {
	position: relative;
    top: -39px;}
	
#coracao {
	position: relative;
    top: -39px;
	left: -5px;
	}	
	

p.time {
    text-align:center;
	font:bold 22px/35px 'Lato', 'sans-serif';	
	color:#845685;
	text-transform:uppercase;
	
}
p#frase {
    text-align:center;
	font:bold 15px 'Lato', 'sans-serif';	
	color:#845685;
	font-weight: 300;
	
}
	
#galleria{height:320px;}
